/*

my style

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #222;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #046D81;
}

.hljs-string,
.hljs-doctag {
  color: #AB2C00;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #822100;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #014450;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #03476C;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #9DA900;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #178599;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #FF7E52;
}

.hljs-addition {
  background: #EFFB51;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}