/*
http://paletton.com/#uid=b1Z3m0d0kvHqnlHxkrLv7-QlxIagj
*/
/*basic template*/
@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-R.ttf"); }
html {
  min-width: 320px; }

/*text*/
* {
  font-family: "Ubuntu";
  word-wrap: break-word; }

h1, h2, h3, p {
  color: #222222; }

h1 {
  font-size: 32px;
  font-weight: bold; }

h2 {
  font-size: 22px;
  font-weight: bold; }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px; }

p {
  font-size: 14px; }

.link {
  color: #025A6A; }

.link:hover {
  color: #014450;
  text-decoration: none; }

/*----*/
/*buttons*/
.btn:not(.search-button) {
  border: 0px;
  color: white;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  padding: 0px 9px; }

.btn-default:not(.search-button) {
  background-color: black; }

.btn-default:not(.search-button):hover {
  background-color: black; }

.btn-danger:not(.search-button) {
  background-color: #ab2c00; }

.btn-danger:not(.search-button):hover {
  background-color: #822100; }

.btn-success:not(.search-button) {
  background-color: #9DA900; }

.btn-success:not(.search-button):hover {
  background-color: #778000; }

.btn-info:not(.search-button) {
  background-color: #025a6a; }

.btn-info:not(.search-button):hover {
  background-color: #014450; }

/*----*/
/*alerts*/
.alert {
  margin: 15px 0px;
  border: 0px;
  color: white; }

.alert-danger {
  background-color: #AB2C00; }
  .alert-danger .close {
    color: #d23702;
    opacity: 1;
    text-shadow: none; }
  .alert-danger .close:hover {
    color: #822100; }

.alert-success {
  background-color: #9da900; }
  .alert-success .close {
    color: #C0CF02;
    opacity: 1;
    text-shadow: none; }
  .alert-success .close:hover {
    color: #778000; }

.alert-info {
  background-color: #025a6a; }
  .alert-info .close {
    color: #046D81;
    opacity: 1;
    text-shadow: none; }
  .alert-info .close:hover {
    color: #014450; }

/*----*/
/*inputs*/
.form-control:not(.search-input) {
  color: black;
  box-shadow: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 35px; }
  .form-control:not(.search-input).placeholder {
    color: #666666; }
  .form-control:not(.search-input):-moz-placeholder {
    color: #666666; }
  .form-control:not(.search-input)::-moz-placeholder {
    color: #666666; }
  .form-control:not(.search-input)::-webkit-input-placeholder {
    color: #666666; }

.form-control:focus {
  outline: none !important;
  border: 1px solid #178599;
  /*box-shadow: 0px 0px 4px #046d81 !important;*/ }

.has-error *, .has-error *:focus {
  outline: none !important;
  border: 1px solid #D23702 !important;
  box-shadow: none !important;
  /*box-shadow: 0px 0px 4px #D23702 !important;*/ }

.has-success *, .has-success *:focus {
  border: 1px solid #c0cf02 !important;
  box-shadow: none !important;
  /*box-shadow: 0px 0px 4px #c0cf02 !important;*/ }

/*----*/
/*checkbox*/
.checkbox input[type="checkbox"] {
  display: none; }
.checkbox label {
  padding: 0px 5px;
  vertical-align: top; }
.checkbox .checkbox-button {
  font-size: 18px;
  vertical-align: bottom; }
.checkbox .checkbox-button:before {
  content: '\f096';
  letter-spacing: 3px; }
.checkbox input[type="checkbox"]:checked + .checkbox-button:before {
  content: '\f046';
  letter-spacing: 0px; }

/*----*/
/*pagination*/
.pagination a {
  border-radius: 0px !important;
  border: 0px !important; }

/*----*/
/*modal*/
.modal-content {
  border-radius: 4px; }

.modal-content {
  border: 1px solid #dddddd; }

/*----*/
/*thumbnails*/
.thumbnail {
  padding: 0px; }

/*----*/
/*panels*/
.panel {
  border: 10px solid #f8f8f8;
  border-radius: 4px; }

/*----*/
header .logo {
  height: 31.2px;
  max-width: 100%; }
header .navbar {
  background-color: black;
  border: 0px;
  border-radius: 0px; }
header .navbar-brand {
  padding: 7px 15px;
  width: 224px; }
header .form-control {
  padding: 5px 10px;
  font-size: 16px;
  color: black;
  box-shadow: none; }
  header .form-control.placeholder {
    color: #666666; }
  header .form-control:-moz-placeholder {
    color: #666666; }
  header .form-control::-moz-placeholder {
    color: #666666; }
  header .form-control::-webkit-input-placeholder {
    color: #666666; }
header .form-control, header .btn {
  border: 1px solid #666666;
  border-radius: 4px;
  height: 32px; }
header .btn {
  border: 1px solid #666666;
  font-size: 18px;
  padding-top: 2px;
  color: #666666; }
header .btn:hover {
  border: 1px solid #666666;
  background-color: #dddddd; }
header .input-group {
  width: 260px; }
header .navbar-form {
  margin-top: 9px;
  margin-bottom: 9px; }
header .nav a {
  color: #999999 !important;
  font-size: 24px; }
header .nav a:hover {
  color: white !important; }
@media screen and (max-width: 767px) {
  header .navbar-form {
    margin: 0px;
    border: 0px;
    box-shadow: none;
    padding: 10px 10px;
    padding-bottom: 15px; }
  header .navbar-nav {
    margin: 0px; }
  header .input-group {
    width: 100%; }
  header a.navbar-nav {
    padding-left: 0px !important; }
  header .navbar-brand {
    margin-right: -5px !important; } }

section {
  margin-top: -20px;
  min-height: 846px; }

footer {
  background-color: black;
  height: 183px; }

/*sign-in-modal*/
#sign-in-modal .link {
  margin-bottom: 0px;
  line-height: 20px; }
#sign-in-modal .checkbox {
  margin: 0px; }
#sign-in-modal .form-control {
  padding: 4px 10px;
  font-size: 18px; }

/*----*/
/*homepage*/
.homepage-wrapper {
  padding-top: 20px;
  background: black url("../images/background.png") center top no-repeat;
  background-size: auto 846px;
  min-height: 846px; }
  .homepage-wrapper h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 24px; }
  .homepage-wrapper h1 {
    color: white;
    font-size: 100px; }
  .homepage-wrapper p {
    color: white; }
  .homepage-wrapper div {
    color: white; }
  .homepage-wrapper .welcome {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle; }
    @media screen and (max-width: 1199px) {
      .homepage-wrapper .welcome h2 {
        font-size: 36px; } }
    @media screen and (max-width: 991px) {
      .homepage-wrapper .welcome h1 {
        font-size: 70px; } }
  .homepage-wrapper .welcome img {
    display: inline;
    height: 44px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: -4px; }
  .homepage-wrapper .homepage-img-wrap {
    padding: 40px 15px; }
  .homepage-wrapper #sign-up-form {
    width: 320px; }
    @media screen and (max-width: 767px) {
      .homepage-wrapper #sign-up-form {
        width: 100%; } }
    .homepage-wrapper #sign-up-form .form-control {
      background-color: #dddddd;
      padding: 4px 10px;
      font-size: 18px; }
    .homepage-wrapper #sign-up-form .row {
      height: 54px; }
    .homepage-wrapper #sign-up-form .alert {
      padding: 6px 10px;
      margin: 0px;
      display: none; }
  @media screen and (max-width: 767px) {
    .homepage-wrapper {
      padding-top: 30px;
      background-size: cover; } }

/*----*/
/*profile*/
.profile-wrapper #profile-info {
  max-width: 270px; }
.profile-wrapper .img-wrapper {
  position: relative; }
.profile-wrapper #edit-img-button {
  display: none;
  padding: 0px;
  color: white;
  width: 38px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  padding-left: 1px;
  padding-top: 1px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 0px; }

/*----*/

/*# sourceMappingURL=style.css.map */
