/*
http://paletton.com/#uid=51Z1o0kvHqnlHxkrLv7-QlxIagj
*/
/*basic template*/
@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-R.ttf"); }
* {
  font-family: "Ubuntu"; }

.btn-default:not(.search-button) {
  border: 0px;
  background-color: black;
  color: white;
  font-size: 22px;
  height: 35px;
  line-height: 22px;
  padding: 7px;
  padding-top: 5px; }

.btn-default:not(.search-button):active {
  background-color: #dddddd;
  color: #444444; }

.form-control:not(.search-input) {
  padding: 4px 10px;
  font-size: 18px;
  color: black;
  box-shadow: none;
  border: 1px solid #666666;
  border-radius: 4px;
  height: 35px; }
  .form-control:not(.search-input).placeholder {
    color: #666666; }
  .form-control:not(.search-input):-moz-placeholder {
    color: #666666; }
  .form-control:not(.search-input)::-moz-placeholder {
    color: #666666; }
  .form-control:not(.search-input)::-webkit-input-placeholder {
    color: #666666; }

.form-control:focus {
  outline: none !important;
  border: 1px solid #C0CF02 !important;
  box-shadow: 0px 0px 4px #C0CF02 !important; }

.link {
  color: #025A6A; }

.link:hover {
  color: #014450; }

.modal-content .form-control {
  border: 1px solid #dddddd; }

header .logo {
  max-height: 100%;
  max-width: 100%; }
header .navbar {
  background-color: black;
  border: 0px;
  border-radius: 0px; }
header .navbar-brand {
  padding: 7px 15px;
  width: 224px; }
header .form-control {
  padding: 5px 10px;
  font-size: 16px;
  color: black;
  box-shadow: none; }
  header .form-control.placeholder {
    color: #666666; }
  header .form-control:-moz-placeholder {
    color: #666666; }
  header .form-control::-moz-placeholder {
    color: #666666; }
  header .form-control::-webkit-input-placeholder {
    color: #666666; }
header .form-control, header .btn {
  border: 1px solid #666666;
  border-radius: 4px;
  height: 32px; }
header .btn {
  border: 1px solid #666666;
  font-size: 18px;
  padding-top: 2px;
  color: #666666; }
header .btn:hover {
  border: 1px solid #666666;
  background-color: #dddddd; }
header .input-group {
  width: 260px; }
header .navbar-form {
  margin-top: 9px;
  margin-bottom: 9px; }
header .nav a {
  color: #999999 !important;
  font-size: 24px; }
header .nav a:hover {
  color: white !important; }
@media screen and (max-width: 767px) {
  header .navbar-form {
    margin: 0px;
    border: 0px;
    box-shadow: none;
    padding: 10px 10px;
    padding-bottom: 15px; }
  header .navbar-nav {
    margin: 0px; }
  header .input-group {
    width: 100%; } }

section {
  margin-top: -20px;
  min-height: 960px;
  background: url("../images/background.png") center top no-repeat;
  background-size: cover; }

.modal-content {
  border-radius: 4px; }

/*homepage*/
.homepage-wrapper {
  color: white;
  padding-top: 70px; }
  .homepage-wrapper h2 {
    font-size: 40px;
    margin-bottom: 24px; }
  .homepage-wrapper h1 {
    font-size: 100px; }
  .homepage-wrapper .welcome {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle; }
    @media screen and (max-width: 1199px) {
      .homepage-wrapper .welcome h2 {
        font-size: 36px; } }
    @media screen and (max-width: 991px) {
      .homepage-wrapper .welcome h1 {
        font-size: 70px; } }
  .homepage-wrapper .welcome img {
    display: inline;
    height: 44px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: -4px; }
  .homepage-wrapper .homepage-img-wrap {
    padding-top: 80px; }
  .homepage-wrapper .sign-in-form {
    width: 320px; }
    @media screen and (max-width: 767px) {
      .homepage-wrapper .sign-in-form {
        width: 100%; } }
    .homepage-wrapper .sign-in-form .form-control {
      background-color: #dddddd; }
  @media screen and (max-width: 767px) {
    .homepage-wrapper {
      padding-top: 30px; } }

/*# sourceMappingURL=style.css.map */
