/*
http://paletton.com/#uid=b1Z3m0d0kvHqnlHxkrLv7-QlxIagj
*/

/*basic template*/
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-R.ttf");
}
@mixin placeholder {
 	&.placeholder { @content; }
 	&:-moz-placeholder { @content; }
 	&::-moz-placeholder { @content; }
 	&::-webkit-input-placeholder { @content; }
}

html{
	min-width: 320px;
}


/*text*/
*{
	font-family: "Ubuntu";
}
h1, h2, h3, p{
	color: #222222;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 20px;
}
p{
	font-size: 14px;
}
.link{
	color: #025A6A;
}
.link:hover{
	color: #014450;
	text-decoration: none;
}

/*----*/

/*buttons*/

.btn:not(.search-button){
	border: 0px;
	color: white;
	font-size: 22px;
	height: 35px;
	font-size: 22px;
	line-height: 35px;
	padding: 0px 7px;
}
.btn-default:not(.search-button){
	background-color: black;
}
.btn-default:not(.search-button):hover{
	background-color: black;
}
.btn-danger:not(.search-button){
	background-color: #ab2c00;
}
.btn-danger:not(.search-button):hover{
	background-color: #822100;
}
.btn-success:not(.search-button){
	background-color: #9DA900;
}
.btn-success:not(.search-button):hover{
	background-color: #778000;
}
.btn-info:not(.search-button){
	background-color: #025a6a;
}
.btn-info:not(.search-button):hover{
	background-color: #014450;
}

/*----*/

/*alerts*/

.alert{
	margin: 15px 0px;
	border: 0px;
	color: white;
}
.alert-danger{
	background-color: #AB2C00;
	.close{
		color: #d23702;
		opacity: 1;
		text-shadow: none;
	}
	.close:hover{
		color: #822100;
	}
}
.alert-success{
	background-color: #9da900;
	.close{
		color: #C0CF02;
		opacity: 1;
		text-shadow: none;
	}
	.close:hover{
		color: #778000;
	}
}
.alert-info{
	background-color: #025a6a;
	.close{
		color: #046D81;
		opacity: 1;
		text-shadow: none;
	}
	.close:hover{
		color: #014450;
	}
}

/*----*/

/*inputs*/

.form-control:not(.search-input){
	color: black;
	box-shadow: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	height: 35px;
	@include placeholder{
		color: #666666;
	}
}
.form-control:focus{
	outline: none !important;
	border: 1px solid #178599;
	/*box-shadow: 0px 0px 4px #046d81 !important;*/
}
.has-error *, .has-error *:focus{
	outline: none !important;
	border: 1px solid #D23702 !important;
	box-shadow: none !important;
	/*box-shadow: 0px 0px 4px #D23702 !important;*/
}
.has-success *, .has-success *:focus{
	border: 1px solid #c0cf02 !important;
	box-shadow: none !important;
	/*box-shadow: 0px 0px 4px #c0cf02 !important;*/
}

/*----*/

/*checkbox*/

.checkbox{
	input[type="checkbox"]{
		display: none;
	}
	label{
		padding: 0px 5px;
		vertical-align: top;
	}
	.checkbox-button{
		font-size: 18px;
		vertical-align: bottom;
	}
	.checkbox-button:before{
		content: '\f096';
		letter-spacing: 3px;
	}
	input[type="checkbox"]:checked + .checkbox-button:before{
		content: '\f046';
		letter-spacing: 0px;
	}
}

/*----*/

/*pagination*/

.pagination a{
	border-radius: 0px !important;
	border: 0px !important;
}

/*----*/

/*modal*/

.modal-content{
	border-radius: 4px;
}

/*----*/

.modal-content .form-control{
	border: 1px solid #dddddd;
} 
header{
	.logo{
		height: 31.2px;
		max-width: 100%;
	}
	.navbar{
		background-color: black;
		border: 0px;
		border-radius: 0px;
	}
	.navbar-brand{
		padding: 7px 15px;
		width: 224px;
	}
	.form-control{
		padding: 5px 10px;
		font-size: 16px;
		color: black;
		box-shadow: none;
		@include placeholder{
			color: #666666;
		}
	}
	.form-control, .btn{
		border: 1px solid #666666;
		border-radius: 4px;
		height: 32px;
	}
	.btn{
		border: 1px solid #666666;
		font-size: 18px;
		padding-top: 2px;
		color: #666666;
	}
	.btn:hover{
		border: 1px solid #666666;
		background-color: #dddddd;
	}
	.input-group{
		width: 260px;
	}
	.navbar-form{
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.nav{
		a{
			color: #999999 !important;
			font-size: 24px;
		}
		a:hover{
		color: white !important;
		}
	}
	@media screen and (max-width: 767px){
		.navbar-form{
			margin: 0px;
			border: 0px;
			box-shadow: none;
			padding: 10px 10px;
			padding-bottom: 15px;
		}
		.navbar-nav{
			margin: 0px;
		}
		.input-group{
			width: 100%;
		}
		a.navbar-nav{
			padding-left: 0px !important;
		}
		.navbar-brand{
			margin-right: -5px !important;
		}
	}
}
section{
	margin-top: -20px;
	min-height: 846px;
}

footer{
	background-color: black;
	height: 183px;
}

/*sign-in-modal*/

#sign-in-modal{
	.link{
		margin-bottom: 0px;
		line-height: 20px;
	}
	.checkbox{
		margin: 0px;
	}
	.form-control{
		padding: 4px 10px;
		font-size: 18px;
	}
}

/*----*/

/*homepage*/
.homepage-wrapper{
	padding-top: 20px;
	background: black url('../images/background.png') center top no-repeat;
	background-size: auto 846px;
	min-height: 846px;
	h2{
		color: white;
		font-size: 40px;
		margin-bottom: 24px; 
	}
	h1{
		color: white;
		font-size: 100px;
	}
	p{
		color: white;
	}
	div{
		color: white;
	}
	.welcome{
		font-size: 40px;
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 1199px){
			h2{
				font-size: 0.9 * 40px;
			}	
		}
		@media screen and (max-width: 991px){
			h1{
				font-size: 0.7 * 100px;
			}	
	}
	}
	.welcome img{
		display: inline;
		height: 44px;
		margin-left: 6px;
		margin-right: 6px;
		margin-top: -4px;
	}
	.homepage-img-wrap{
		padding: 40px 15px;
	}
	#sign-up-form{
		width: 320px;
		@media screen and (max-width: 767px){
				width: 100%;
		}
		.form-control{
			background-color: #dddddd;
			padding: 4px 10px;
			font-size: 18px;
		}
		.row{
			height: 54px;
		}
		.alert{
			padding: 6px 10px;
			margin: 0px;
			display: none;
		}
	}
	@media screen and (max-width: 767px){
		padding-top: 30px;
		background-size: cover;
	}
}