/*http://paletton.com/#uid=13+0u0kczcV8Fopbrjoj4bBo78U*/
@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.ttf");
}
*{
	font-family: "Open Sans";
}
#logo{
	max-height:100%;
	max-width:100%;
}
a.navbar-brand{
	padding: 4px 15px;
}
.navbar li a:hover{
	color: #ffffff !important;
}
.navbar{
	background-color: #121232;
	border-color: transparent;
}
.navbar{
	color: #696988 !important;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 0px;
}
.navbar-toggle{
	color: #696988 !important;
	border: none;
	margin: 0px;
	font-size: 20px;
	background-color: #121232 !important;
}
.navbar-toggle:hover{
	color: #ffffff;
	background-color: #121232 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none !important;
    box-shadow: none !important;
}
.red{
	background: red;
}
@media screen and (max-width: 991px){
	#nav-search{
		width: 240px;
	}
}
@media screen and (max-width: 767px){
	#nav-search input{
		margin-left: 15px;
	}
}