/*
http://paletton.com/#uid=b1Z3m0d0kvHqnlHxkrLv7-QlxIagj
*/

/*basic template*/
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-R.ttf");
}
@mixin placeholder {
 	&.placeholder { @content; }
 	&:-moz-placeholder { @content; }
 	&::-moz-placeholder { @content; }
 	&::-webkit-input-placeholder { @content; }
}
*{
	font-family: "Ubuntu";
}
.btn-default:not(.search-button){
	border: 0px;
	background-color: black;
	color: white;
	font-size: 22px;
	height: 35px;
	line-height: 22px;
	padding: 7px;
	padding-top: 5px;
}
.btn-default:not(.search-button):active{
	background-color: #dddddd;
	color: #444444;
}
.form-control:not(.search-input){
	padding: 4px 10px;
	font-size: 18px;
	color: black;
	box-shadow: none;
	border: 1px solid #666666;
	border-radius: 4px;
	height: 35px;
	@include placeholder{
		color: #666666;
	}
}
.form-control:focus{
	outline: none !important;
	border: 1px solid #C0CF02 !important;
	box-shadow: 0px 0px 4px #C0CF02 !important;
}
.link{
	color: #025A6A;
}
.link:hover{
	color: #014450;
}
.has-error *{
	border: 1px solid #D23702 !important;
	box-shadow: 0px 0px 4px #D23702 !important;
}
.has-error *:focus{
	border: 1px solid #D23702 !important;
	box-shadow: 0px 0px 4px #D23702 !important;
}
.alert{
	margin-top: 20px;
	margin-bottom: 10px;
}
.alert-danger{
	color: white;
	background-color: #AB2C00;
	border: 1px solid #822100;
}
.alert-success{
	color: white;
	background-color: #9DA900;
	border: 1px solid #778000;
}


.modal-content .form-control{
	border: 1px solid #dddddd;
} 
header{
	.logo{
		max-height: 100%;
		max-width: 100%;
	}
	.navbar{
		background-color: black;
		border: 0px;
		border-radius: 0px;
	}
	.navbar-brand{
		padding: 7px 15px;
		width: 224px;
	}
	.form-control{
		padding: 5px 10px;
		font-size: 16px;
		color: black;
		box-shadow: none;
		@include placeholder{
			color: #666666;
		}
	}
	.form-control, .btn{
		border: 1px solid #666666;
		border-radius: 4px;
		height: 32px;
	}
	.btn{
		border: 1px solid #666666;
		font-size: 18px;
		padding-top: 2px;
		color: #666666;
	}
	.btn:hover{
		border: 1px solid #666666;
		background-color: #dddddd;
	}
	.input-group{
		width: 260px;
	}
	.navbar-form{
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.nav{
		a{
			color: #999999 !important;
			font-size: 24px;
		}
		a:hover{
		color: white !important;
		}
	}
	@media screen and (max-width: 767px){
		.navbar-form{
			margin: 0px;
			border: 0px;
			box-shadow: none;
			padding: 10px 10px;
			padding-bottom: 15px;
		}
		.navbar-nav{
			margin: 0px;
		}
		.input-group{
			width: 100%;
		}
	}
}
section{
	margin-top: -20px; 
	min-height: 960px;
	background: black url('../images/background.png') center top no-repeat;
	background-size: cover;
}
.modal-content{
	border-radius: 4px;
}

/*homepage*/
.homepage-wrapper{
	color: white;
	padding-top: 70px;
	h2{
		font-size: 40px;
		margin-bottom: 24px; 
	}
	h1{
		font-size: 100px;
	}
	.welcome{
		font-size: 40px;
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 1199px){
			h2{
				font-size: 0.9 * 40px;
			}	
		}
		@media screen and (max-width: 991px){
			h1{
				font-size: 0.7 * 100px;
			}	
	}
	}
	.welcome img{
		display: inline;
		height: 44px;
		margin-left: 6px;
		margin-right: 6px;
		margin-top: -4px;
	}
	.homepage-img-wrap{
		padding-top: 80px;
	}
	#sign-up-form{
		width: 320px;
		@media screen and (max-width: 767px){
				width: 100%;
		}
		.form-control{
			background-color: #dddddd;
		}
		.row{
			height: 54px;
		}
		.alert{
			padding: 6px 10px;
			margin: 0px;
			display: none;
		}
	}
	@media screen and (max-width: 767px){
		padding-top: 30px;
	}
}